/* *{
    border: 1px solid;
} */

body{
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}

.overlay{
    position: fixed;
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: all 1s ease;
    background: transparent;
    transform: translateY(100vh);
}

.overlay.active{
    opacity: 1;
    transform: translate(0);
    background: rgba(0, 0, 0, 0.3);
}

.container{
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 1fr;
    transition: all 1s ease;
}

.container.collapse{
    grid-template-columns: 100px 1fr;
}

.container.collapse .p-heading{
    left: 10%;
}

.container > div{
    height: 100%;
    width: 100%;
}

.sidebar{
   display: flex;
   justify-content: space-between;
   align-items: center;
   flex-direction: column;
   border-right: 2px solid;
   overflow: hidden;
   transition: all 0.8s ease;
}

.sidebar.collapse{
    width: 100px;
}

.sidebar > div{
    width: 100%;
}

.icons-bar.one{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.first, .second{
    /* padding: 10px 0; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

.first > div, .second > div{
    width: 100%;
    margin: 0;
    padding: 0;
}



.bar{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    margin: 0;
    max-height: 50px;
    border-bottom: 1px solid;
    border-top: 1px solid;
}

.bar.collapse{
    justify-content: center;
}

.bar.collapse > *{
    width: 100%;
    padding: 1rem;
}


.bar.one{
    padding: 0.5rem;
    height: 70px;
    box-sizing: border-box;
}

.bar.one > i{
    width: 100%;
    display: none;
    font-size: 1.5rem;
    margin-left: 15px;
}

.bar > *{
    height: 100%;
    width: 50%;
    transition: all 1s ease;
}

.bar i{
    display: block;
    font-size: 1.35rem;
    position: relative;
}


.bar h2{
    font-size: 1.2rem;
    position: relative;
}

.bar h2.collapse{
    display: none;
    opacity: 0;
}

.bar h2::before{
    content: '';
    position: absolute;
    left: -35px;
    top: -15px;
    bottom: 0;
    height: 235%;
    width: 2px;
    padding: 0;
    margin: 0;
    background: black;
}


.right{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
}

.side-headings, .bottom{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.side-icons{
    height: 35px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.side-headings > h2{
    text-align: center;
    margin: 5px 0;
    width: 80%;
    border-bottom: 1px solid grey;
}

.bottom{
    margin-top: auto;
}

.bottom h2{
    width: 100%;
    margin: 3px 0;
    padding-left: 10px;
    font-size: 1.2rem;
    border-bottom: 1px solid grey;
}

#collapse.collapse{
    opacity: 0;
    transition: all 0.7s ease;
}

#collapse.collapse ~ h1{
    margin-left: -10px;
}

.large-bar{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 100px 1fr;
    position: relative;
    height: auto;
}


.icons-bar.two{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1{
    border-bottom: 3px solid;
}

.icon-right, .icon-left{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.icon-right > i, .icon-left > i{
    display: block;
    margin: 0 10px;
    font-size: 1.5rem;
}

.quote{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.quote > p{
    margin: 0;
}

.projects{
    width: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-rows: 1fr;
}

.projects .major, .casuals{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    overflow-y: scroll;
    padding: 1rem 0;
    scrollbar-width: none;
     /* position: relative; */
    /* padding-left: 4rem; */
}

.p-heading{
    position: fixed;
    top: 27%;
    left: 17%;
}

.projects .major{
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    border-right: 2px solid;
}

.major .project{
    height: 30%;
    width: 25%;
    /* display: flex; */
    padding: 0;
    /* align-items: flex-end; */
    margin: 40px 1.5rem;
    border-radius: 15px;
    border: 0.5px solid;
    position: relative;
    overflow-y: scroll;
    scrollbar-width: none;
    transition: all .8s ease;
    /* justify-content: space-around; */
}

.project.maximize{
    position: absolute;
    height: 100%;
    width: 100%;
    top: -40px;
    left: -23px;
    bottom: 0;
    right: 0;
    background: white;
    z-index: 1000;
    border-radius: 0%;
}

.fd-icon{
    position: absolute;
    /* width: 100%;
    height: 100%; */
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 100;
    background: red;
    /* border-radius: 0px 10px 0px 0px; */
}

/* .fd-icon::before{
    content: '';
    position: absolute;
    bottom: -5px;
    width: 100%;
    height: 100%;
    background: white;
    border-radius: 20px 20px 0px 0px;
}

.fd-icon::after{
    content: '';
    position: absolute;
    top: -5px;
    left: 0px;
    height: 6px;
    width: 100px;
    background: black;
    border-top-right-radius: 10px;
} */

.fd-icon i{
    display: block;
    /* position: absolute; */
    width: 139px;
    height: 152px;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.deets{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
    padding:  0.2rem;
}

.deets.close{
    display: none;
}

.deets > *{
    font-size: 1rem;
    color: grey;
    opacity: 0.45;
    padding: 0 0.5rem;
    /* margin: 0; */
    margin: 2.5px 0;
}

.deets h3{
    margin-top: 2rem;
}

.dts{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.ex-deets{
    height: 100%;
    width: 100%;
    padding: 2rem;
    display: none;
    position: absolute;
    opacity: 0;
    transition: all 1s ease;
}

.ex-deets.active{
    display: block;
    position: relative;
    opacity: 1;
}

.ex-heading{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
}

.ex-heading i:first-child{
    font-size: 1.5rem;
    margin-right: 0.5rem;
    margin-top: 0.9rem;
}

.ex-heading .title{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.ex-heading .title h2{
    font-size: 2.5rem;
    margin-bottom: 0;
}

.ex-heading .title p{
    margin: 0;
}

.ex-brief{
    width: 80%;
    padding: 0 1rem;
    margin-top: 5.5rem;
}

.ex-lists{
    margin-top: 3rem;
    width: 100%;
    height: auto;
    overflow-y: scroll;
    scrollbar-width: none;
}
.ex-lists h2{
    margin-left: 2rem;
}

.ex-lists ul{
    width: 100%;
    margin-left: 4rem;
    overflow-y: scroll;
}

.ex-list{
    width: 70%;
    padding: 0;
    display: flex;
    align-items: center;
    border: 1px solid;
    margin: 0.8rem 0;
    transition: all 0.8s ease;
    justify-content: space-between;
}

.ex-list.delete{
    transform: translateX(100vw);
}

.ex-list > li{
    width: 70%;
}

.ex-list > div{
    width: 30%;
}

.ex-list li{
    list-style: none;
    padding: 0.5rem;
}

.ex-list .arrows{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ex-list .arrows > *{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ex-list li label  input{
    margin: 0 10px;
}

.ex-list li label > *{
    display: inline-block;
}

.casuals .casual{
    height: 150px;
    width: 70%;
    margin-top: 20px;
    border-radius: 20px;
    position: relative;
    border: 0.5px solid;
    overflow: hidden;
}

.list{
    width: 100%;
    height: 30px;
    border-bottom: 1px solid grey;
}

.casual:first-of-type{
    margin-top: 1.5rem;
}

.c-heading{
    position: fixed;
    top: 25%;
    font-size: 1.3rem;
}

.marker{
    height: 30px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
    background-color: black;
}

.dots{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 5px;
    justify-content: space-evenly;
}

.dot{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background: green;
}

.btn{
    display: block;
    margin: 0 auto;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 0;
    left: 50%;
    z-index: 999;
    border: 1px solid;
    outline: none;
    text-align: center;
    transition: all 0.8s ease;
    transform: translate(-50%, -50%);
}

.btn i{
    position: absolute;
    font-size: 1.5rem;
    font-size: bolder;
    left: 50%;
    transition: all 1s ease;
    transform: translate(-50%, -50%);
}

.btn i:nth-child(2){
    display: none;
}

.btn.two{
    left: 22%;
    /* top: 50%; */
    bottom: 50px;
}

#dialog{
    height: 100px;
    width: 200px;
    bottom: 110px;
    border-radius: 15px;
    border: 2px solid;
    transition: all 1s ease;
}

#dialog .header h2{
    margin: 0;
    text-align: center;
}

.option button{
    display: block;
    height: 2rem;
    width: 100%;
    font-size: 1rem;
}

.option:first-of-type button{
    margin-top: 10px;
}

.create{
    height: 400px;
    width: 250px;
    border-radius: 15px;
    bottom: 100px;
    overflow-y: scroll;
    scrollbar-width: none;
}

.create form{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    padding-bottom: 2rem;
}

.create form > *{
    margin: 1.2rem 0;
    height: 2rem;
}

.create form .inputbox{
    width: 80%;
    position: relative;
    /* border: 1px solid red; */
}

.create form .inputbox input{
    display: block;
    height: 100%;
    width: 100%;
    outline: none;
}

.create form .inputbox label{
    width: 100%;
    padding-left: 2px;
    padding-bottom: 5px;
}

.inputbox span{
    display: block;
    position: absolute;
    bottom: -3px;
    left: 5px;
    opacity: 0.5;
}

.inputbox button{
    display: block;
    width: 100%;
    height: 100%;
}

.pencil{
    left: -10%;
}

.pencil .inputbox button{
    width: 103%;
}

.create form .inputbox:nth-child(2){
    height: 1.5rem;
    margin-bottom: 0; 
}

.create form .inputbox:nth-child(2) input{
    border: 1px solid black;
    border-top: none;
}

.create form div:nth-child(1){
    margin-top: 0;
}

#task-form{
    left: -50px;
    bottom: 150px;
}

.task-heading{
    width: 100%;
    position: relative;
}

.task-heading h2{
    margin-left: 0;
    text-align: center;
}

.pencil .task-heading{
    position: sticky;
    top: 0;
    z-index: 10;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
}

.pencil .task-heading i{
    position: absolute;
    right: 20px;
    top: 15px;
    width: 25px;
    height: 25px;
    display: block;
    border: 1px solid;
    border-radius: 50%;
    text-align: center;
    font-size: 1.5rem;
}


/* .fa-pencil-alt{
    align-self: flex-end;
    font-size: 0.5rem;
} */



